<button class="addBackBtn">back</button>
<h2>Tambah Produk</h2>
<form action="/product/addProduct" class="container" method="POST">
  <div class="row">
    <p class="col-lg-2">Nama Produk :</p>
    <input class="col" type="text" name="name" />
  </div>
  <div class="row">
    <p class="col-lg-2">Harga :</p>
    <input class="col" type="number" name="price" />
  </div>
  <div class="row">
    <p class="col-lg-2">Kategori :</p>
    <select class="col" name="category" id="">
      <% categories.forEach(c => { %>
      <option value="<%= c.nama %>"><%= c.nama %></option>
      <% }) %>
    </select>
  </div>
  <div class="row">
    <p class="col-lg-2">Merk :</p>
    <select class="col" name="brand" id="">
      <% brands.forEach(b => { %>
      <option value="<%= b.nama %>"><%= b.nama %></option>
      <% }) %>
    </select>
  </div>
  <div class="row">
    <p class="col-lg-2">Stok :</p>
    <input class="col" type="number" name="stock" />
  </div>
  <div class="row">
    <p class="col-lg-2">Foto Produk :</p>
    <input class="col" type="file" name="fotoProduk" />
  </div>
  <div class="row">
    <p class="col-lg-2">Deskripsi :</p>
    <textarea
      class="col"
      name="description"
      id=""
      cols="50"
      rows="10"
      style="vertical-align: text-top"
    ></textarea>
  </div>
  <section class="row my-2">
    <p class="col-lg-2"></p>
    <input
      id="add-product-submit"
      class="col-lg-3"
      type="submit"
      value="Tambahkan Produk"
    />
  </section>
</form>
