<button class="addBackBtn">back</button>
<h2>Delete Kategori atau Merk</h2>
<br />
<!-- <form action="/categoryBrand/addCategoryBrand" class="container" method="POST">
  <p>
    <span class="col-lg-2">Kategori/Merk: &nbsp</span>
    <select class="col" name="type" id="">
      <option value="category">Kategori</option>
      <option value="brand">Merk</option>
    </select>
  </p>
  <div class="row">
    <span class="col-lg-2">Nama :</span>
    <input class="col" type="text" name="nama" />
  </div>
  <div class="row">
    <div class="col-lg-2"></div>
    <input
      id="add-category-submit"
      class="col-lg-3 my-3"
      type="submit"
      value="Delete Kategori"
    />
  </div>
</form> -->
