<h3>General</h3>
<div class="row" style="text-align: center">
    <div class="gen-block col">
        <h4>Rp.xxx.xxx.xxx,xx</h4>
        <h6>Total Penjualan / Bulan</h6>
    </div>
    <div class="gen-block col">
        <h4>2478</h4>
        <h6>Total Kunjungan Web / Bulan</h6>
    </div>
    <div id="chart">
        <form action="" style="float: right">
            <span>Time : </span>
            <select name="start" id="">
                <option value="Jan">Jan</option>
                <option value="Feb">Feb</option>
                <option value="Mar">Mar</option>
                <option value="Apr">Apr</option>
                <option value="May">May</option>
                <option value="Jun">Jun</option>
                <option value="Jul">Jul</option>
                <option value="Aug">Aug</option>
                <option value="Sep">Sep</option>
                <option value="Oct">Oct</option>
                <option value="Nov">Nov</option>
                <option value="Dec">Dec</option>
            </select>

            <span>&nbsp; to &nbsp;</span>

            <select name="start" id="">
                <option value="Jan">Jan</option>
                <option value="Feb">Feb</option>
                <option value="Mar">Mar</option>
                <option value="Apr">Apr</option>
                <option value="May">May</option>
                <option value="Jun">Jun</option>
                <option value="Jul">Jul</option>
                <option value="Aug">Aug</option>
                <option value="Sep">Sep</option>
                <option value="Oct">Oct</option>
                <option value="Nov">Nov</option>
                <option value="Dec">Dec</option>
            </select>
            <br class="d-lg-none" />
            <span class="d-none d-lg-inline">&nbsp;|&nbsp;</span>
            <span> Category : </span>
            <select name="start" id="">
                <option value="Penjualan">Penjualan</option>
                <option value="KunjunganWeb">Kunjungan Web</option>
            </select>
        </form>

        <table
            class="
                charts-css
                line
                show-data-axes show-10-secondary-axes show-heading show-labels
            "
            id="my-chart"
        >
            <tbody>
                <tr>
                    <td style="--start: 0; --size: 0.2">
                        <span class="data"> Rp.2000K </span>
                    </td>
                    <td style="--start: 0; --size: 0.5">
                        <span class="data"> 500 </span>
                    </td>
                    <th scope="row">Jan</th>
                </tr>
                <tr>
                    <td style="--start: 0.2; --size: 0.35">
                        <span class="data"> Rp.3500K </span>
                    </td>
                    <td style="--start: 0.5; --size: 0.6">
                        <span class="data"> 600 </span>
                    </td>
                    <th scope="row">Feb</th>
                </tr>
                <tr>
                    <td style="--start: 0.35; --size: 0.3">
                        <span class="data"> Rp.3000K </span>
                    </td>
                    <td style="--start: 0.6; --size: 0.55">
                        <span class="data"> 550 </span>
                    </td>
                    <th scope="row">Mar</th>
                </tr>
                <tr>
                    <td style="--start: 0.3; --size: 0.5">
                        <span class="data"> Rp.5000K </span>
                    </td>
                    <td style="--start: 0.55; --size: 0.6">
                        <span class="data"> 600 </span>
                    </td>
                    <th scope="row">Apr</th>
                </tr>
                <tr>
                    <td style="--start: 0.5; --size: 0.5">
                        <span class="data"> Rp.5000K </span>
                    </td>
                    <td style="--start: 0.6; --size: 0.7">
                        <span class="data"> 700 </span>
                    </td>
                    <th scope="row">May</th>
                </tr>
                <tr>
                    <td style="--start: 0.5; --size: 0.45">
                        <span class="data"> Rp.4500K </span>
                    </td>
                    <td style="--start: 0.7; --size: 0.8">
                        <span class="data"> 800 </span>
                    </td>
                    <th scope="row">Jun</th>
                </tr>
                <tr>
                    <td style="--start: 0.45; --size: 0.55">
                        <span class="data"> Rp.5500K </span>
                    </td>
                    <td style="--start: 0.8; --size: 0.75">
                        <span class="data"> 750 </span>
                    </td>
                    <th scope="row">Jul</th>
                </tr>
            </tbody>
        </table>
    </div>
</div>
