<h3>Messages</h3>
<div style="text-align: center">
  <div
    class="list-group list-group-horizontal"
    id="list-tab-messages"
    role="tablist"
  >
    <a
      class="
        list-group-item list-group-item-light list-group-item-action
        active
      "
      id="tab-chat-session"
      data-bs-toggle="list"
      href="#list-chat-session"
      role="tab"
      aria-controls="list-chat-session"
    >
      Session
    </a>
    <a
      class="list-group-item list-group-item-light list-group-item-action"
      id="tab-chat-user"
      data-bs-toggle="list"
      href="#list-chat-user"
      role="tab"
      aria-controls="list-chat-user"
    >
      User
    </a>
  </div>
</div>
<!-- chat dummy -->
<div class="col py-2" id="chatContent">
  <div class="tab-content" id="nav-tabContent-chat">
    <div
      class="tab-pane fade show active"
      id="list-chat-session"
      role="tabpanel"
      aria-labelledby="list-chatSession-list"
    >
      <div
        class="card-group-messages"
        style="max-height: 370px; overflow: auto"
      >
        <a href="chatRoom.html" class="card">
          <img src="/image/user.svg" class="card-avatar" alt="..." />
          <div class="card-desc">
            <p>ID : MN12315486</p>
            <h4>Budi Ahmad</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam
              necessitatibus quasi culpa voluptas quia reprehenderit asperiores
              tempora nam laborum, dolorum debitis aliquam dolore nisi
              doloremque nobis corrupti itaque amet molestiae!
            </p>
          </div>
          <div class="card-time text-end w-25 mx-auto mb-auto text-secondary">
            <p>10 : 30 AM</p>
          </div>
        </a>
        <a href="chatRoom.html" class="card">
          <img src="/image/user.svg" class="card-avatar" alt="..." />
          <div class="card-desc">
            <p>ID : MN12315486</p>
            <h4>Budi Ahmad</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam
              necessitatibus quasi culpa voluptas quia reprehenderit asperiores
              tempora nam laborum, dolorum debitis aliquam dolore nisi
              doloremque nobis corrupti itaque amet molestiae!
            </p>
          </div>
          <div class="card-time text-end w-25 mx-auto mb-auto text-secondary">
            <p>10 : 30 AM</p>
          </div>
        </a>
        <a href="chatRoom.html" class="card">
          <img src="/image/user.svg" class="card-avatar" alt="..." />
          <div class="card-desc">
            <p>ID : MN12315486</p>
            <h4>Budi Ahmad</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam
              necessitatibus quasi culpa voluptas quia reprehenderit asperiores
              tempora nam laborum, dolorum debitis aliquam dolore nisi
              doloremque nobis corrupti itaque amet molestiae!
            </p>
          </div>
          <div class="card-time text-end w-25 mx-auto mb-auto text-secondary">
            <p>10 : 30 AM</p>
          </div>
        </a>
      </div>
    </div>
    <div
      class="tab-pane fade"
      id="list-chat-user"
      role="tabpanel"
      aria-labelledby="list-chatUser-list"
    >
      <div
        class="card-group-messages"
        style="max-height: 370px; overflow: auto"
      >
        <a href="chatRoom.html" class="card">
          <img src="/image/user.svg" class="card-avatar" alt="..." />
          <div class="card-desc">
            <h4>Budi Ahmad</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam
              necessitatibus quasi culpa voluptas quia reprehenderit asperiores
              tempora nam laborum, dolorum debitis aliquam dolore nisi
              doloremque nobis corrupti itaque amet molestiae!
            </p>
          </div>
          <div class="card-time text-end w-25 mx-auto mb-auto text-secondary">
            <p>10 : 30 AM</p>
          </div>
        </a>
        <a href="chatRoom.html" class="card">
          <img src="/image/user.svg" class="card-avatar" alt="..." />
          <div class="card-desc">
            <h4>Budi Ahmad</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam
              necessitatibus quasi culpa voluptas quia reprehenderit asperiores
              tempora nam laborum, dolorum debitis aliquam dolore nisi
              doloremque nobis corrupti itaque amet molestiae!
            </p>
          </div>
          <div class="card-time text-end w-25 mx-auto mb-auto text-secondary">
            <p>10 : 30 AM</p>
          </div>
        </a>
        <a href="chatRoom.html" class="card">
          <img src="/image/user.svg" class="card-avatar" alt="..." />
          <div class="card-desc">
            <h4>Budi Ahmad</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam
              necessitatibus quasi culpa voluptas quia reprehenderit asperiores
              tempora nam laborum, dolorum debitis aliquam dolore nisi
              doloremque nobis corrupti itaque amet molestiae!
            </p>
          </div>
          <div class="card-time text-end w-25 mx-auto mb-auto text-secondary">
            <p>10 : 30 AM</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
