<h3>Order</h3>
<div class="card-group-order" style="max-height: 370px; overflow: auto">
  <!-- orederan dummy -->
  <a href="productDetails.html" class="card">
    <img src="/image/Asus.jpg" class="card-img-left" alt="..." />
    <div class="card-desc">
      <p>ID : MN12315486</p>
      <h4>Budi Ahmad</h4>
      <p>1 x Asus xxx <span>Rp. 123.123.152</span></p>
      <p>2 x Headset xxx<span>Rp. 123.123.152</span></p>
      <p>1 x Asus xxx<span>Rp. 123.123.152</span></p>
      <p>2 x Headset xxx<span>Rp. 123.123.152</span></p>
      <p>1 x Asus xxx<span>Rp. 123.123.152</span></p>
      <p class="total">Total :<span>Rp. 123.123.152</span></p>
    </div>
    <div class="card-status text-center w-25 mx-auto">
      <h4>Status</h4>
      <p>On Process</p>
    </div>
  </a>
  <a href="productDetails.html" class="card">
    <img src="/image/monitor.jpg" class="card-img-left" alt="..." />
    <div class="card-desc">
      <p>ID : MN12315486</p>
      <h4>Budi Ahmad</h4>
      <p>2 x Headset xxx<span>Rp. 123.123.152</span></p>
      <p>1 x Asus xxx<span>Rp. 123.123.152</span></p>
      <p>2 x Headset xxx<span>Rp. 123.123.152</span></p>
      <p class="total">Total :<span>Rp. 123.123.152</span></p>
    </div>
    <div class="card-status text-center w-25 mx-auto">
      <h4>Status</h4>
      <p>On Process</p>
    </div>
  </a>
  <a href="productDetails.html" class="card">
    <img src="/image/headset.jpg" class="card-img-left" alt="..." />
    <div class="card-desc">
      <p>ID : MN12315499</p>
      <h4>Budi Ahmad</h4>
      <p>1 x Asus xxx<span>Rp. 123.123.152</span></p>
      <p>2 x Headset xxx<span>Rp. 123.123.152</span></p>
      <p>1 x Asus xxx<span>Rp. 123.123.152</span></p>
      <p>2 x Headset xxx<span>Rp. 123.123.152</span></p>
      <p>1 x Asus xxx<span>Rp. 123.123.152</span></p>
      <p>2 x Headset xxx<span>Rp. 123.123.152</span></p>
      <p class="total">Total :<span>Rp. 123.123.152</span></p>
    </div>
    <div class="card-status text-center w-25 mx-auto">
      <h4>Status</h4>
      <p>Menunggu Pembayaran</p>
    </div>
  </a>
  <a href="productDetails.html" class="card">
    <img src="/image/Asus.jpg" class="card-img-left" alt="..." />
    <div class="card-desc">
      <p>ID : MN12315856</p>
      <h4>Carl Max</h4>
      <p>1 x Buku Tutorial CSS<span>Rp. 123.123.152</span></p>
      <p>2 x Mic xxx<span>Rp. 123.123.152</span></p>
      <p class="total">Total :<span>Rp. 123.123.152</span></p>
    </div>
    <div class="card-status text-center w-25 mx-auto">
      <h4>Status</h4>
      <p>Sedang Dikirim</p>
    </div>
  </a>
  <a href="productDetails.html" class="card">
    <img src="/image/keyboard.jpg" class="card-img-left" alt="..." />
    <div class="card-desc">
      <p>ID : MN12311286</p>
      <h4>Budi Ahmad</h4>
      <p>1 x Asus xxx<span>Rp. 123.123.152</span></p>
      <p>2 x Headset xxx<span>Rp. 123.123.152</span></p>
      <p>1 x Asus xxx<span>Rp. 123.123.152</span></p>
      <p>2 x Headset xxx<span>Rp. 123.123.152</span></p>
      <p>1 x Asus xxx<span>Rp. 123.123.152</span></p>
      <p>2 x Headset xxx<span>Rp. 123.123.152</span></p>
      <p class="total">Total :<span>Rp. 123.123.152</span></p>
    </div>
    <div class="card-status text-center w-25 mx-auto">
      <h4>Status</h4>
      <p>On Process</p>
    </div>
  </a>
</div>
