<section>
  <div style="background-color: #7a7373">
    <br /><br />
    <div class="container-sm py-4" style="background-color: #c4c4c4">
      <div class="row mx-5">
        <!-- Isi Forget Pass -->
        <div class="form-group">
          <div
            class="text-left"
            style="margin-top: 50px; font-size: 30px; font-weight: bold"
          >
            <label for="headerText">Forgot Password</label>
          </div>
          <br /><br />
          <label for="exampleInputEmail1">New Password:</label>
          <input
            type="email"
            class="form-control form-control-lg border-dark"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="New Password"
          />
          <br /><br />
          <label for="exampleInputEmail1">Confirm Password:</label>
          <input
            type="email"
            class="form-control form-control-lg border-dark"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="Confirm Password"
          />
          <br /><br />
        </div>
        <div class="text-left">
          <a href="/login">
            <button type="submit" class="btn btn-light btn-lg border-dark">
              Submit
            </button>
            <br /><br /><br /><br />
          </a>
        </div>
      </div>
    </div>
    <br /><br />
  </div>
</section>
