
<!-- css Company page  -->
<style>
     body {
       font-family: Arial, Helvetica, sans-serif;
       margin: 0;
     }
     
     html {
       box-sizing: border-box;
     }
     
     *, *:before, *:after {
       box-sizing: inherit;
     }
     
     .row {
         padding: 15px;
     }

     .column {
       float: left;
       width: 33.3%;
       margin-bottom: 18px;
       padding: 0 5px; 
       margin-left: auto;
       margin-right: auto;
     }
     
     .card {
       box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
       margin: 8px;
     }
     
     .about-section {
       padding: 50px;
       text-align: center;
       background-color: #474e5d;
       color: white;
     }
     
     .container {
       padding: 0 16px;
     }
     
     .container::after, .row::after {
       content: "";
       clear: both;
       display: table;
     }
     
     .title {
       color: grey;
     }
     
     .button {
       border: none;
       outline: 0;
       display: inline-block;
       padding: 8px;
       color: white;
       background-color: #000;
       text-align: center;
       cursor: pointer;
       width: 100%;
     }
     
     .button:hover {
       background-color: #555;
     }
     
     .bg-grey {
         background-color: #7A7373;
     }
     .containerabout-fluid {
         padding: 60px 50px;
     }

     .courteam {
         background-color: burlywood; 
         padding: 5px;
     } 
     
     

     @media screen and (max-width: 650px) {
       .column {
         width: 100%;
         display: block;
       }
     } 

 </style>            


<!-- ISI --> 

 <!-- Bagian About Atas Tengah  -->
 <div class="about-section">
     <h1>About Minify</h1>
     <p>Minify adalah website jualan perangkat elektronik online</p>
     <p>Minify menyediakan pilihan perangkat elektronik terbaik untuk anda</p>
 </div>
   
 <!-- Bagian Profil Minify  -->
 <div class="containerabout-fluid ">
     <h2>Profil Minify</h2>
     <h4>Minify berawal dari projek kelompok web programming semester 3</h4>      
     <p>Minify berawal dari projek kelompok web programming semester 3. <br> 
       Kelompok ini merupakan tugas projek membuat website dari dosen pak Irvan Lewenusa. <br> 
       Kelompok ini beranggotakan 5 orang pada awal berdirinya yaitu Kevin, Richard, Wendy, Hongi, dan Stephen. <br> 
       Namun, seiring berjalannya waktu kelompok kami bertambah menjadi 6 orang dengan bergabungnya Philip. <br> 
       Kelompok ini mulai merancang dan membuat projek sejak Agustus 2021 sampai November 2021 saat UAS. <br> 
       Komitmen kami adalah membuat website ini dengan sungguh-sungguh dan sepenuh hati agar dapat menyediakan website terbaik kepada pelanggan kami di Minify. <br> 
       YUK, Mari! jadikan Minify pilihan anda ketika membeli perangkat elektronik!😁😆😘🤞🧡 <br>   
     </p>
 </div>
   
 <!-- Bagian Our Value  -->
 <div class="containerabout-fluid bg-grey">
     <h2>Our Values</h2>
     <h4><strong>VISION:</strong> DO THE BEST! DON'T GIVE! TRY THE BEST FOR MINIFY! </h4>      
     <p><strong>MISSION:</strong> Menciptakan Website yang bagus untuk digunakan semua pelanggan Minify kami </p>
 </div>

 <br> 
 <!-- bagian profil anggota team atau kelompok  -->
 <h2 style="text-align:center" class="courteam">Our Team</h2>
   
 <div class="row" >
     <div class="column">
       <div class="card">
         <img src="image/imgteams/Kevin.jpg" alt="Kevin" style="width:100%; border-radius:50%;">
         <br> 
         <div class="container">
           <h2>Kevin Adhi D S </h2>
           <p class="title"> Founder</p>
           <p>Ketua kelompok.</p>
           <p>kevin.535200050@stu.untar.ac.id</p>
           <p><a href="mailto:kevin.535200050@stu.untar.ac.id" class="button" style="text-decoration: none; background-color: lightskyblue;">Contact</a></p>
         </div>
       </div>
     </div>
   
     <div class="column">
       <div class="card">
         <img src="image/imgteams/Richard.jpg" alt="Richard" style="width:100%; border-radius:50%;"> 
         <br> 
         <div class="container">
           <h2>Richard Stephen </h2>
           <p class="title">Founder</p>
           <p>Anggota kelompok.</p>
           <p>richard.535200058@stu.untar.ac.id</p>
           <p><a href="mailto:richard.535200058@stu.untar.ac.id" class="button" style="text-decoration: none; background-color: lightskyblue;">Contact</a></p>
         </div>
       </div>
     </div>
     
     <div class="column">
       <div class="card">
         <img src="image/imgteams/Wendy.jpg" alt="Wendy" style="width:100%; border-radius:50%;">
         <br> 
         <div class="container">
           <h2>Wendy Bunandi </h2>
           <p class="title">Founder</p>
           <p>Anggota kelompok.</p>
           <p>wendy.535200066@stu.untar.ac.id</p>
           <p><a href="mailto:wendy.535200066@stu.untar.ac.id" class="button" style="text-decoration: none; background-color: lightskyblue;">Contact</a></p>
         </div>
       </div>
     </div>

     <div class="column">
         <div class="card">
           <img src="image/imgteams/Stephen.jpg" alt="Stephen" style="width:100%; border-radius:50%;"> 
           <br> 
           <div class="container">
             <h2>Stephen Adhikurnia </h2>
             <p class="title">Founder</p>
             <p>Anggota kelompok.</p>
             <p>stephen.535200056@stu.untar.ac.id</p>
             <p><a href="mailto:stephen.535200056@stu.untar.ac.id" class="button" style="text-decoration: none; background-color: lightskyblue;">Contact</a></p>
           </div>
         </div>
     </div> 
     <div class="column">
         <div class="card">
           <img src="image/imgteams/Hongi.jpg" alt="Hongi" style="width:100%; border-radius:50%;"> 
           <br> 
           <div class="container">
             <h2>Hongi Nagaputra </h2>
             <p class="title">Founder</p>
             <p>Anggota kelompok.</p>
             <p>hongi.535200082@stu.untar.ac.id</p>
             <p><a href="mailto:hongi.535200082@stu.untar.ac.id" class="button" style="text-decoration: none; background-color: lightskyblue;">Contact</a></p>
           </div>
         </div>
     </div>
     <div class="column">
      <div class="card">
        <img src="image/imgteams/philip.jpg" alt="Hongi" style="width:100%; border-radius:50%;"> 
        <br> 
        <div class="container">
          <h2>Philip Bryan Halim </h2>
          <p class="title">Founder</p>
          <p>Anggota kelompok.</p>
          <p>philip.535160026@stu.untar.ac.id</p>
          <p><a href="mailto:philip.535160026@stu.untar.ac.id" class="button" style="text-decoration: none; background-color: lightskyblue;">Contact</a></p>
        </div>
      </div>
  </div>

 </div>  


 