
<!-- css HowToOrder page  -->
<style>

     .csshwtord {
         background-color: rgb(175, 175, 175);
         padding: 35px; 
     }   

     .accordion {
       background-color: #eee;
       color: #444;
       cursor: pointer;
       padding: 18px;
       width: 100%;
       border: none;
       text-align: left;
       outline: none;
       font-size: 15px;
       transition: 0.4s;
       margin-top: 15px;
     }
     
     .active, .accordion:hover {
       background-color: #ccc;
     }
     
     .accordion:after {
       content: '\002B';
       color: #777;
       font-weight: bold;
       float: right;
       margin-left: 5px;
     }
     
     .active:after {
       content: "\2212";
     }
     
     .panelhtd {
       padding: 0 18px;
       background-color: lightskyblue;
       max-height: 0;
       overflow: hidden;
       transition: max-height 0.2s ease-out;
     }
     
     @media screen and (max-width: 480px) {
               .accordion {
                 background-color: #eee;
                 color: #444;
                 cursor: pointer;
                 padding: 18px;
                 width: 100%;
                 border: none;
                 text-align: left;
                 outline: none;
                 font-size: 15px;
                 transition: 0.4s;
                 margin-top: 15px;
               } 
               
               .panelhtd {
                 padding: 0 18px;
                 background-color: lightskyblue;
                 max-height: 0;
                 overflow: hidden;
                 transition: max-height 0.2s ease-out;
               }  
               
             }  

     </style> 

<!-- ISI --> 
<div style="background-color: #7A7373; padding: 5% 5%">

     <div class="csshwtord">  
         <h1 style="text-align:center">How To Order</h1>
         <p>Berikut adalah cara memesan produk di website Minify:</p> 
         
         <button class="accordion">Langkah 1：</button>
         <div class="panelhtd">
         <p>Pilih "Add to Cart" untuk membeli produk yang diinginkan setelah melihat-lihat produk Minify lainnya <br> atau bisa langsung Memilih "Buy Now" pada produk yang diinginkan.</p> 
         </div> 
         
         <button class="accordion">Langkah 2: </button>
         <div class="panelhtd">
         <p>Setelah memilih "Add to Cart" atau "Buy Now". <br> Jika memilih "Buy Now" akan langsung diarahkan ke shopping cart. <br> Jika memilih "Add to Cart" maka silahkan ke halaman shopping cart terlebih dahulu untuk melakukan checkout.</p>
         </div>
         
         <button class="accordion">Langkah 3: </button>
         <div class="panelhtd">
         <p>Silahkan memilih-milih produk-produk Minify yang ingin kamu Miliki. setelah memilih produk Minify yang ingin kamu miliki, kamu dapat memilih checkout.</p>
         </div> 
         
         <button class="accordion">Langkah 4: </button>
         <div class="panelhtd">
         <p>Pada halaman checkout kamu tinggal mengisi alamat, payment, dan pengiriman kemudian pilih order.</p>
         </div>
         
         <button class="accordion">Langkah 5: </button>
         <div class="panelhtd">
         <p>Setelah membuat order kamu tinggal melakukan pembayaran/konfirmasi pembayaran setelah itu produk kamu akan segera diproses dan dikemas oleh Teams Minify untuk dikirim ke alamat kamu. <br> Nah... Mudah sekali bukan untuk belanja di Minify.</p>
         </div>
         
     </div>  

 </div>   
     

      <!-- script untuk mengerakkan dropdown  --> 
     <script>
     var acc = document.getElementsByClassName("accordion");
     var i;
     
     for (i = 0; i < acc.length; i++) {
       acc[i].addEventListener("click", function() {
         this.classList.toggle("active");
         var panel = this.nextElementSibling;
         if (panel.style.maxHeight) {
           panel.style.maxHeight = null;
         } else {
           panel.style.maxHeight = panel.scrollHeight + "px";
         } 
       });
     }
     </script> 


