<!-- css login page -->
<style>
  * {
    margin: 0;
    padding: 0;
  }

  .custom-select {
    width: 13%;
    margin-right: 5px;
  }

  .btnLogin {
    margin: 15px 0;
    padding: 10px 10px;
  }

  .Login {
    background-color: rgb(175, 175, 175);
    padding: 35px;
  }
</style>

<div style="background-color: grey; padding: 5% 25%">
  <div class="Login">
    <div>
      <form action="/user/login" method="post">
        <h1>Login</h1>
        <% if (locals.error) { %>
        <div class="alert alert-warning"><%= error %></div>
        <% } %>
        <!-- untuk memasukkan email -->
        <div class="form-group">
          <label for="email">Email : </label>
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="Email@mail.com"
            name="email"
            required
          />
        </div>

        <br />
        <!-- untuk memasukkan password -->
        <div class="form-group">
          <label for="password">Password :</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            placeholder="Password"
            name="password"
            required
          />
        </div>

        
        <!-- untuk mengarahkan ke page register -->
        <p>First time here? <a href="/register">Register</a></p>

        <!-- untuk mengarahkan ke page forgot password -->
        <a href="/forgetpassword">Forgot Password?</a>
        

        <br />
        <!-- button untuk submit dan kemudian diarahkan atau didirect ke homepage -->
        <a href="/homePage">
          <button
            type="submit"
            class="btnLogin btn btn-primary"
            style="background-color: white; color: black; border: none"
          >
            Login
          </button>
        </a>
      </form>
    </div>
  </div>
</div>
