<section>
  <div style="background-color: #7a7373">
    <div class="container-fluid" style="text-align: center">
      <div
        class="list-group list-group-horizontal"
        id="list-tab"
        role="tablist"
      >
        <a
          class="
            list-group-item list-group-item-light list-group-item-action
            active
          "
          id="list-user-list"
          data-bs-toggle="list"
          href="#list-user"
          role="tab"
          aria-controls="list-user"
        >
          <p style="font-weight: 700; margin: 0">User</p>
        </a>
        <a
          class="list-group-item list-group-item-light list-group-item-action"
          id="list-session-list"
          data-bs-toggle="list"
          href="#list-session"
          role="tab"
          aria-controls="list-session"
        >
          <p style="font-weight: 700; margin: 0">Session</p>
        </a>
      </div>
    </div>

    <div
      class="container-fluid"
      id="NavContent"
      style="background-color: white"
    >
      <div class="tab-content" id="nav-tabContent">
        <div
          class="tab-pane fade show active"
          id="list-user"
          role="tabpanel"
          aria-labelledby="list-user-list"
        >
          <div class="list-group" style="max-height: 875px; overflow: auto">
            <a href="/chat-room" class="list-group-item list-group-item-action">
              <div class="row">
                <div class="col-sm-1 my-2">
                  <span
                    class="rounded-circle"
                    style="
                      display: inline-block;
                      width: 70px;
                      height: 70px;
                      margin: 5px;
                      background-color: black;
                      z-index: -1;
                    "
                    ><i
                      data-feather="user"
                      style="
                        color: white;
                        width: 70px;
                        height: 55px;
                        margin-top: 5px;
                      "
                    ></i
                  ></span>
                </div>
                <div class="col-sm-7">
                  <p class="mt-2 fs-5 mx-4" style="font-weight: 600">
                    Username
                  </p>
                  <p class="lh-1 mx-4" style="font-size: 20px">Percakapan...</p>
                </div>
                <div class="col-sm-4">
                  <p class="fs-5 text-end" style="color: #c2b7b7">
                    Tanggal-Bulan-Tahun Jam:Menit
                  </p>
                </div>
              </div>
            </a>
            <hr class="my-1" />
          </div>
        </div>

        <div
          class="tab-pane fade"
          id="list-session"
          role="tabpanel"
          aria-labelledby="list-session-list"
        >
          <div class="list-group" style="max-height: 875px; overflow: auto">
            <a href="/chat-room" class="list-group-item list-group-item-action">
              <div class="row">
                <div class="col-sm-1 my-2">
                  <span
                    class="rounded-circle"
                    style="
                      display: inline-block;
                      width: 90px;
                      height: 90px;
                      margin: 5px;
                      background-color: black;
                      z-index: -1;
                    "
                    ><i
                      data-feather="user"
                      style="
                        color: white;
                        width: 90px;
                        height: 75px;
                        margin-top: 5px;
                      "
                    ></i
                  ></span>
                </div>
                <div class="col-sm-7">
                  <p
                    class="mt-2 fs-5 mx-4"
                    style="font-weight: 200; margin-bottom: 20px"
                  >
                    ID: ABCDEFG
                  </p>
                  <p
                    class="mt-2 fs-4 mx-4"
                    style="font-weight: 600; line-height: 0.5"
                  >
                    Username
                  </p>
                  <p class="lh-1 mx-4" style="font-size: 20px">Percakapan...</p>
                </div>
                <div class="col-sm-4">
                  <p class="fs-5 text-end" style="color: #c2b7b7">
                    Tanggal-Bulan-Tahun Jam:Menit
                  </p>
                </div>
              </div>
            </a>
            <hr class="my-1" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
