<section>
  <div style="padding: 20px 40px; background-color: grey">
    <div class="mb-4">
      <h1 style="color: white">Order Details</h1>
    </div>
    <div style="background-color: white; padding: 2%">
      <div class="row mx-5 text-sm-start text-md-center">
        <h5
          class="text-start fs-5"
          style="font-weight: bold; margin-bottom: 40px"
        >
          ID ORDER: ABCDEFG
        </h5>
        <div class="col-6 text-start fs-5">
          <p style="font-weight: 500">Total Pembayaran</p>
          <p class="fs-5" style="font-weight: bold">RP. 200.000</p>
        </div>
        <div class="col-6 text-end fs-5">
          <p style="font-weight: 500">Waktu Pembayaran</p>
          <p class="fs-5" style="font-weight: bold">25/09/21</p>
        </div>
        <hr />
        <!--Rincian Pesanan-->
        <h5
          class="text-start fs-5"
          style="font-weight: bold; margin-bottom: 20px"
        >
          Rincian Pesanan
        </h5>
        <div class="col-6 text-start fs-5">
          <p class="fs-5">ASUS xxx RAM 8GB Size 200 Inch</p>
        </div>
        <div class="col-6 text-end fs-5">
          <p class="fs-5" style="word-spacing: 5px">x 1</p>
          <p class="fs-5">RP.10.000.000,00</p>
        </div>
        <div class="col-6 text-start fs-5">
          <p class="fs-5">ASUS xxx RAM 6GB Size 200 Inch</p>
        </div>
        <div class="col-6 text-end fs-5">
          <p class="fs-5" style="word-spacing: 5px">x 1</p>
          <p class="fs-5">RP.5.000.000,00</p>
        </div>
        <hr />
        <!--Rincian Pengiriman-->
        <div class="col-6 text-start fs-5">
          <p style="font-weight: bold">Rincian Pengiriman</p>
          <p class="fs-5">
            Budi Ahmad <br />
            Jl. Kepu Barat, KOTA JAKARTA PUSAT, KEMAYORAN DKI JAKARTA, ID, 10620
            6215151515
          </p>
        </div>
        <div class="col-6 text-end fs-5">
          <p style="font-weight: 500">Metode Pembayaran</p>
          <p class="fs-5">Virtual Account (BCA)</p>
        </div>
        <hr />
        <!--Informasi Pembayaran-->
        <h5
          class="text-start fs-5"
          style="font-weight: bold; margin-bottom: 20px"
        >
          Informasi Pembayaran
        </h5>
        <div class="col-6 text-start fs-5" style="line-height: 1">
          <p class="fs-5" style="font-weight: 500">Subtotal untuk Produk</p>
        </div>
        <div class="col-6 text-end fs-5" style="line-height: 1">
          <p class="fs-5" style="font-weight: 500">RP.15.000.000,00</p>
        </div>
        <div class="col-6 text-start fs-5" style="line-height: 1">
          <p class="fs-5">Subtotal Pengiriman</p>
        </div>
        <div class="col-6 text-end fs-5" style="line-height: 1">
          <p class="fs-5">RP.20.000,00</p>
        </div>
        <div class="col-6 text-start fs-5" style="line-height: 1">
          <p class="fs-5">Biaya Penanganan</p>
        </div>
        <div class="col-6 text-end fs-5" style="line-height: 1">
          <p class="fs-5">RP.10.000,00</p>
        </div>
        <div class="col-6 text-start fs-5" style="line-height: 1">
          <p class="fs-5">Total Diskon</p>
        </div>
        <div class="col-6 text-end fs-5" style="line-height: 1">
          <p class="fs-5">-RP.10.000.000,00</p>
        </div>
        <div class="col-6 text-start fs-5" style="line-height: 1">
          <p class="fs-4" style="font-weight: 500">Total Pembayaran</p>
        </div>
        <div class="col-6 text-end fs-5" style="line-height: 1">
          <p class="fs-4" style="font-weight: 500">RP.5.030.000,00</p>
        </div>
      </div>
    </div>
  </div>
</section>
