<section>
  <div style="padding: 40px; background-color: grey">
    <div class="mb-4">
      <h1 style="color: white">My Order</h1>
    </div>
    <div style="background-color: rgb(175, 175, 175); padding: 2%">
      <div class="row mx-5 text-sm-start text-md-center">
        <!-- Detail Produk -->
        <div class="col-md-2 mt-2">
          <img
            src="https://images.unsplash.com/photo-1496181133206-80ce9b88a853?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bGFwdG9wfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60"
            alt="detailImg"
            style="
              width: 100%;
              max-width: 250px;
              min-width: 90px;
              min-height: 80px;
            "
          />
        </div>
        <div class="col-md-5 mt-2">
          <p class="fs-5" style="font-weight: 400; margin-bottom: 0">
            ID: ABCDEFG
          </p>
          <p class="fs-5" style="font-weight: 500">Product Name...</p>
        </div>
        <div class="col-md-3 mt-2">
          <p class="fs-5" style="font-weight: 400">Status</p>
          <div><p class="fs-5" style="font-weight: 500">On Process</p></div>
        </div>
        <div class="col-md-2 mt-2">
          <a
            href="myOrderDetails.html"
            class="fs-5"
            style="text-decoration: none; color: black; font-weight: 500"
            >Details</a
          >
        </div>
        <hr />
        <div class="col-md-2 mt-2">
          <img
            src="https://images.unsplash.com/photo-1496181133206-80ce9b88a853?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bGFwdG9wfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60"
            alt="detailImg"
            style="
              width: 100%;
              max-width: 250px;
              min-width: 90px;
              min-height: 80px;
            "
          />
        </div>
        <div class="col-md-5 mt-2">
          <p class="fs-5" style="font-weight: 400; margin-bottom: 0">
            ID: ABCDEFG
          </p>
          <p class="fs-5" style="font-weight: 500">Product Name...</p>
        </div>
        <div class="col-md-3 mt-2">
          <p class="fs-5" style="font-weight: 400">Status</p>
          <div><p class="fs-5" style="font-weight: 500">On Process</p></div>
        </div>
        <div class="col-md-2 mt-2">
          <a
            href="myOrderDetails.html"
            class="fs-5"
            style="text-decoration: none; color: black; font-weight: 500"
            >Details</a
          >
        </div>
        <hr />
        <div class="col-md-2 mt-2">
          <img
            src="https://images.unsplash.com/photo-1496181133206-80ce9b88a853?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bGFwdG9wfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60"
            alt="detailImg"
            style="
              width: 100%;
              max-width: 250px;
              min-width: 90px;
              min-height: 80px;
            "
          />
        </div>
        <div class="col-md-5 mt-2">
          <p class="fs-5" style="font-weight: 400; margin-bottom: 0">
            ID: ABCDEFG
          </p>
          <p class="fs-5" style="font-weight: 500">Product Name...</p>
        </div>
        <div class="col-md-3 mt-2">
          <p class="fs-5" style="font-weight: 400">Status</p>
          <div><p class="fs-5" style="font-weight: 500">On Process</p></div>
        </div>
        <div class="col-md-2 mt-2">
          <a
            href="myOrderDetails.html"
            class="fs-5"
            style="text-decoration: none; color: black; font-weight: 500"
            >Details</a
          >
        </div>
        <hr />
        <div class="col-md-2 mt-2">
          <img
            src="https://images.unsplash.com/photo-1496181133206-80ce9b88a853?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bGFwdG9wfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60"
            alt="detailImg"
            style="
              width: 100%;
              max-width: 250px;
              min-width: 90px;
              min-height: 80px;
            "
          />
        </div>
        <div class="col-md-5 mt-2">
          <p class="fs-5" style="font-weight: 400; margin-bottom: 0">
            ID: ABCDEFG
          </p>
          <p class="fs-5" style="font-weight: 500">Product Name...</p>
        </div>
        <div class="col-md-3 mt-2">
          <p class="fs-5" style="font-weight: 400">Status</p>
          <div><p class="fs-5" style="font-weight: 500">On Process</p></div>
        </div>
        <div class="col-md-2 mt-2">
          <a
            href="myOrderDetails.html"
            class="fs-5"
            style="text-decoration: none; color: black; font-weight: 500"
            >Details</a
          >
        </div>
        <hr />
        <div class="col-md-2 mt-2">
          <img
            src="https://images.unsplash.com/photo-1496181133206-80ce9b88a853?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bGFwdG9wfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60"
            alt="detailImg"
            style="
              width: 100%;
              max-width: 250px;
              min-width: 90px;
              min-height: 80px;
            "
          />
        </div>
        <div class="col-md-5 mt-2">
          <p class="fs-5" style="font-weight: 400; margin-bottom: 0">
            ID: ABCDEFG
          </p>
          <p class="fs-5" style="font-weight: 500">Product Name...</p>
        </div>
        <div class="col-md-3 mt-2">
          <p class="fs-5" style="font-weight: 400">Status</p>
          <div><p class="fs-5" style="font-weight: 500">On Process</p></div>
        </div>
        <div class="col-md-2 mt-2">
          <a
            href="myOrderDetails.html"
            class="fs-5"
            style="text-decoration: none; color: black; font-weight: 500"
            >Details</a
          >
        </div>
        <hr />
        <div class="col-md-2 mt-2">
          <img
            src="https://images.unsplash.com/photo-1496181133206-80ce9b88a853?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bGFwdG9wfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60"
            alt="detailImg"
            style="
              width: 100%;
              max-width: 250px;
              min-width: 90px;
              min-height: 80px;
            "
          />
        </div>
        <div class="col-md-5 mt-2">
          <p class="fs-5" style="font-weight: 400; margin-bottom: 0">
            ID: ABCDEFG
          </p>
          <p class="fs-5" style="font-weight: 500">Product Name...</p>
        </div>
        <div class="col-md-3 mt-2">
          <p class="fs-5" style="font-weight: 400">Status</p>
          <div><p class="fs-5" style="font-weight: 500">On Process</p></div>
        </div>
        <div class="col-md-2 mt-2">
          <a
            href="myOrderDetails.html"
            class="fs-5"
            style="text-decoration: none; color: black; font-weight: 500"
            >Details</a
          >
        </div>
        <hr />
      </div>
    </div>
  </div>
</section>
