<style>
  .jc-sb {
    display: flex;
    justify-content: space-between;
  }
  .ta-c {
    text-align: center;
  }
  .td a {
    text-decoration: none;
    color: black;
  }
  .mar10 {
    margin: 10px;
  }

  @media screen and (max-width: 800px) {
    .row-cols-md-4 > * {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
  @media screen and (max-width: 450px) {
    .row-cols-md-4 > * {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
</style>

<div>
  <div style="padding: 40px; background-color: grey">
    <div class="mb-4">
      <h1 style="color: white">New Arrival</h1>
    </div>
    <div style="background-color: rgb(175, 175, 175); padding: 2%">
      <div class="row row-cols-1 row-cols-md-4">
        <div class="col mb-4">
          <a href="/details" style="text-decoration: none; color: black">
            <div class="card h-100">
              <img
                src="/image/designecologist-Pmh0UoG1vlE-unsplash.jpg"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Product Name</h5>
                <p class="card-text">Rp xx.xxx.xx</p>
              </div>
              <a
                href="/cart"
                class="btn btn-primary mar10"
                style="background-color: grey; color: white"
                >Add to cart</a
              >
              <a
                href="/checkout"
                class="btn btn-primary mar10"
                style="background-color: grey; color: white"
                >Buy Now</a
              >
            </div>
          </a>
        </div>
        <div class="col mb-4">
          <a href="/details" style="text-decoration: none; color: black">
            <div class="card h-100">
              <img
                src="/image/designecologist-Pmh0UoG1vlE-unsplash.jpg"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Product Name</h5>
                <p class="card-text">Rp xx.xxx.xx</p>
              </div>
              <a
                href="/cart"
                class="btn btn-primary mar10"
                style="background-color: grey; color: white"
                >Add to cart</a
              >
              <a
                href="/checkout"
                class="btn btn-primary mar10"
                style="background-color: grey; color: white"
                >Buy Now</a
              >
            </div>
          </a>
        </div>
        <div class="col mb-4">
          <a href="/details" style="text-decoration: none; color: black">
            <div class="card h-100">
              <img
                src="/image/designecologist-Pmh0UoG1vlE-unsplash.jpg"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Product Name</h5>
                <p class="card-text">Rp xx.xxx.xx</p>
              </div>
              <a
                href="/cart"
                class="btn btn-primary mar10"
                style="background-color: grey; color: white"
                >Add to cart</a
              >
              <a
                href="/checkout"
                class="btn btn-primary mar10"
                style="background-color: grey; color: white"
                >Buy Now</a
              >
            </div>
          </a>
        </div>
        <div class="col mb-4">
          <a href="/details" style="text-decoration: none; color: black">
            <div class="card h-100">
              <img
                src="/image/designecologist-Pmh0UoG1vlE-unsplash.jpg"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Product Name</h5>
                <p class="card-text">Rp xx.xxx.xx</p>
              </div>
              <a
                href="/cart"
                class="btn btn-primary mar10"
                style="background-color: grey; color: white"
                >Add to cart</a
              >
              <a
                href="/checkout"
                class="btn btn-primary mar10"
                style="background-color: grey; color: white"
                >Buy Now</a
              >
            </div>
          </a>
        </div>
        <div class="col mb-4">
          <a href="/details" style="text-decoration: none; color: black">
            <div class="card h-100">
              <img
                src="/image/designecologist-Pmh0UoG1vlE-unsplash.jpg"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Product Name</h5>
                <p class="card-text">Rp xx.xxx.xx</p>
              </div>
              <a
                href="/cart"
                class="btn btn-primary mar10"
                style="background-color: grey; color: white"
                >Add to cart</a
              >
              <a
                href="/checkout"
                class="btn btn-primary mar10"
                style="background-color: grey; color: white"
                >Buy Now</a
              >
            </div>
          </a>
        </div>
        <div class="col mb-4">
          <a href="/details" style="text-decoration: none; color: black">
            <div class="card h-100">
              <img
                src="/image/designecologist-Pmh0UoG1vlE-unsplash.jpg"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Product Name</h5>
                <p class="card-text">Rp xx.xxx.xx</p>
              </div>
              <a
                href="/cart"
                class="btn btn-primary mar10"
                style="background-color: grey; color: white"
                >Add to cart</a
              >
              <a
                href="/checkout"
                class="btn btn-primary mar10"
                style="background-color: grey; color: white"
                >Buy Now</a
              >
            </div>
          </a>
        </div>
        <div class="col mb-4">
          <a href="/details" style="text-decoration: none; color: black">
            <div class="card h-100">
              <img
                src="/image/designecologist-Pmh0UoG1vlE-unsplash.jpg"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Product Name</h5>
                <p class="card-text">Rp xx.xxx.xx</p>
              </div>
              <a
                href="/cart"
                class="btn btn-primary mar10"
                style="background-color: grey; color: white"
                >Add to cart</a
              >
              <a
                href="/checkout"
                class="btn btn-primary mar10"
                style="background-color: grey; color: white"
                >Buy Now</a
              >
            </div>
          </a>
        </div>
        <div class="col mb-4">
          <a href="/details" style="text-decoration: none; color: black">
            <div class="card h-100">
              <img
                src="/image/designecologist-Pmh0UoG1vlE-unsplash.jpg"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Product Name</h5>
                <p class="card-text">Rp xx.xxx.xx</p>
              </div>
              <a
                href="/cart"
                class="btn btn-primary mar10"
                style="background-color: grey; color: white"
                >Add to cart</a
              >
              <a
                href="/checkout"
                class="btn btn-primary mar10"
                style="background-color: grey; color: white"
                >Buy Now</a
              >
            </div>
          </a>
        </div>
        <div class="col mb-4">
          <a href="/details" style="text-decoration: none; color: black">
            <div class="card h-100">
              <img
                src="/image/designecologist-Pmh0UoG1vlE-unsplash.jpg"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Product Name</h5>
                <p class="card-text">Rp xx.xxx.xx</p>
              </div>
              <a
                href="/cart"
                class="btn btn-primary mar10"
                style="background-color: grey; color: white"
                >Add to cart</a
              >
              <a
                href="/checkout"
                class="btn btn-primary mar10"
                style="background-color: grey; color: white"
                >Buy Now</a
              >
            </div>
          </a>
        </div>
        <div class="col mb-4">
          <a href="/details" style="text-decoration: none; color: black">
            <div class="card h-100">
              <img
                src="/image/designecologist-Pmh0UoG1vlE-unsplash.jpg"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Product Name</h5>
                <p class="card-text">Rp xx.xxx.xx</p>
              </div>
              <a
                href="/cart"
                class="btn btn-primary mar10"
                style="background-color: grey; color: white"
                >Add to cart</a
              >
              <a
                href="/checkout"
                class="btn btn-primary mar10"
                style="background-color: grey; color: white"
                >Buy Now</a
              >
            </div>
          </a>
        </div>
        <div class="col mb-4">
          <a href="/details" style="text-decoration: none; color: black">
            <div class="card h-100">
              <img
                src="/image/designecologist-Pmh0UoG1vlE-unsplash.jpg"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Product Name</h5>
                <p class="card-text">Rp xx.xxx.xx</p>
              </div>
              <a
                href="/cart"
                class="btn btn-primary mar10"
                style="background-color: grey; color: white"
                >Add to cart</a
              >
              <a
                href="/checkout"
                class="btn btn-primary mar10"
                style="background-color: grey; color: white"
                >Buy Now</a
              >
            </div>
          </a>
        </div>
        <div class="col mb-4">
          <a href="/details" style="text-decoration: none; color: black">
            <div class="card h-100">
              <img
                src="/image/designecologist-Pmh0UoG1vlE-unsplash.jpg"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Product Name</h5>
                <p class="card-text">Rp xx.xxx.xx</p>
              </div>
              <a
                href="/cart"
                class="btn btn-primary mar10"
                style="background-color: grey; color: white"
                >Add to cart</a
              >
              <a
                href="/checkout"
                class="btn btn-primary mar10"
                style="background-color: grey; color: white"
                >Buy Now</a
              >
            </div>
          </a>
        </div>
        <div class="col mb-4">
          <a href="/details" style="text-decoration: none; color: black">
            <div class="card h-100">
              <img
                src="/image/designecologist-Pmh0UoG1vlE-unsplash.jpg"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Product Name</h5>
                <p class="card-text">Rp xx.xxx.xx</p>
              </div>
              <a
                href="/cart"
                class="btn btn-primary mar10"
                style="background-color: grey; color: white"
                >Add to cart</a
              >
              <a
                href="/checkout"
                class="btn btn-primary mar10"
                style="background-color: grey; color: white"
                >Buy Now</a
              >
            </div>
          </a>
        </div>
        <div class="col mb-4">
          <a href="/details" style="text-decoration: none; color: black">
            <div class="card h-100">
              <img
                src="/image/designecologist-Pmh0UoG1vlE-unsplash.jpg"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Product Name</h5>
                <p class="card-text">Rp xx.xxx.xx</p>
              </div>
              <a
                href="/cart"
                class="btn btn-primary mar10"
                style="background-color: grey; color: white"
                >Add to cart</a
              >
              <a
                href="/checkout"
                class="btn btn-primary mar10"
                style="background-color: grey; color: white"
                >Buy Now</a
              >
            </div>
          </a>
        </div>
        <div class="col mb-4">
          <a href="/details" style="text-decoration: none; color: black">
            <div class="card h-100">
              <img
                src="/image/designecologist-Pmh0UoG1vlE-unsplash.jpg"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Product Name</h5>
                <p class="card-text">Rp xx.xxx.xx</p>
              </div>
              <a
                href="/cart"
                class="btn btn-primary mar10"
                style="background-color: grey; color: white"
                >Add to cart</a
              >
              <a
                href="/checkout"
                class="btn btn-primary mar10"
                style="background-color: grey; color: white"
                >Buy Now</a
              >
            </div>
          </a>
        </div>
        <div class="col mb-4">
          <a href="/details" style="text-decoration: none; color: black">
            <div class="card h-100">
              <img
                src="/image/designecologist-Pmh0UoG1vlE-unsplash.jpg"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Product Name</h5>
                <p class="card-text">Rp xx.xxx.xx</p>
              </div>
              <a
                href="/cart"
                class="btn btn-primary mar10"
                style="background-color: grey; color: white"
                >Add to cart</a
              >
              <a
                href="/checkout"
                class="btn btn-primary mar10"
                style="background-color: grey; color: white"
                >Buy Now</a
              >
            </div>
          </a>
        </div>
      </div>
      <br />
      <div class="ta-c">
        <a href="/product" class="btn" style="background-color: white"
          >View All Products</a
        >
      </div>
    </div>
  </div>
</div>
