<style>
  * {
    margin: 0;
    padding: 0;
  }

  .custom-select {
    width: 13%;
    margin-right: 5px;
  }

  .gender,
  .dob {
    width: 50%;
  }

  .btnRegister {
    margin: 15px 0;
    padding: 10px 10px;
  }

  .register {
    /* border: 1px solid black; */
    background-color: rgb(175, 175, 175);
    padding: 40px;
    /* width: 50%; */
    /* margin: 5% 25%; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
  }

  /* @media screen and (max-width: 800px) {
    .gender,
    .dob {
      width: 100%;
    }
  } */
</style>

<div style="background-color: grey; padding: 5% 25%">
    <div class="register">
      <div>
        <form action="/user/register" method="POST">
          <h1>Register</h1>
          <div class="form-group">
            <label for="exampleInputEmail1">Email : </label>
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="Email"
              name="email"
              required
            />
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Username : </label>
            <input
              type="text"
              class="form-control"
              id="exampleInputUsername1"
              aria-describedby="usernameHelp"
              placeholder="Username"
              name="username"
              required
            />
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Phone Number : </label>
            <input
              type="text"
              class="form-control"
              id="exampleInputPhone1"
              aria-describedby="phoneHelp"
              placeholder="Phone Number"
              name="phone"
              required
            />
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password :</label>
            <input
              type="password"
              class="form-control"
              id="exampleInputPassword1"
              placeholder="Password"
              name="password"
              required
            />
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Confirm Password :</label>
            <input
              type="password"
              class="form-control"
              id="exampleInputConfirmPassword1"
              placeholder="Confirm Password"
              name="confirm"
              required
            />
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Address : </label>
            <input
              type="text"
              class="form-control"
              id="exampleInputAddress1"
              aria-describedby="addressHelp"
              placeholder="Address"
              name="address"
              required
            />
          </div>

          <div class="form-group">
            <label for="exampleInputDOB1">Date Of Birth</label>
            <div>
              <input
                type="date"
                class="form-control dob"
                aria-describedby="addressHelp"
                id="dob"
                name="birthDate"
                required
              />
            </div>
          </div>

          <div class="form-group">
            <label for="exampleInputDOB1">Gender</label>
            <div>
              <select class="custom-select gender" name="gender">
                <option selected>Gender</option>
                <option value="man">Man</option>
                <option value="woman">Woman</option>
              </select>
            </div>
          </div>

          <p>Already have account? <a href="/login">Login</a></p>

          <p>*dengan mengklik Register berarti anda menyetujui <br><a href="/Terms">Syarat & Ketentuan di Minify </a></p>

          <button
            type="submit"
            class="btnRegister btn btn-primary"
            style="background-color: white; color: black; border: none"
          >
            Register
          </a>
        </form>
      </div>
    </div>
  </div>
