
<!-- css Terms page  -->
<style>

     .cssterms {
         background-color: rgb(175, 175, 175);
         padding: 35px; 
     }  
     
     .accordion {
       background-color: #eee;
       color: #444;
       cursor: pointer;
       padding: 18px;
       width: 100%;
       border: none;
       text-align: left;
       outline: none;
       font-size: 15px;
       transition: 0.4s;
       margin-top: 15px;
     }
     
     .active, .accordion:hover {
       background-color: #ccc;
     }
     
     .accordion:after {
       content: '\002B';
       color: #777;
       font-weight: bold;
       float: right;
       margin-left: 5px;
     }
     
     .active:after {
       content: "\2212";
     }
     
     .paneltrms {
       padding: 0 18px;
       background-color: lightskyblue;
       max-height: 0;
       overflow: hidden;
       transition: max-height 0.2s ease-out;
     }
     
     @media screen and (max-width: 480px) {
               .accordion {
                 background-color: #eee;
                 color: #444;
                 cursor: pointer;
                 padding: 18px;
                 width: 100%;
                 border: none;
                 text-align: left;
                 outline: none;
                 font-size: 15px;
                 transition: 0.4s;
                 margin-top: 15px;
               } 
               
               .paneltrms {
                 padding: 0 18px;
                 background-color: lightskyblue;
                 max-height: 0;
                 overflow: hidden;
                 transition: max-height 0.2s ease-out;
               }  
               
             }  

     </style>    

     <!-- ISI --> 
    <div style="background-color: #7A7373; padding: 5% 5%">

     <div class="cssterms"> 

         <h1 style="text-align:center">Terms & Conditions <br></h1>
         <p style="text-align: center;">Selamat datang di <strong>www.Minify.com</strong>. </p> 
         <p >Syarat & ketentuan yang ditetapkan di bawah ini mengatur pemakaian jasa yang ditawarkan oleh <strong>PT. Minify</strong> terkait penggunaan situs <strong>www.Minify.com</strong>. Pengguna disarankan membaca dengan seksama karena dapat berdampak kepada hak dan kewajiban Pengguna di bawah hukum.</p> 
         <p >Dengan mendaftar dan/atau menggunakan situs <strong>www.Minify.com</strong>, maka pengguna dianggap telah membaca, mengerti, memahami dan menyetujui semua isi dalam Syarat & ketentuan. Syarat & ketentuan ini merupakan bentuk kesepakatan yang dituangkan dalam sebuah perjanjian yang sah antara Pengguna dengan <strong>PT. Minify</strong>. Jika pengguna tidak menyetujui salah satu, pesebagian, atau seluruh isi Syarat & ketentuan, maka pengguna tidak diperkenankan menggunakan layanan di <strong>www.Minify.com</strong>.</p> 


         <button class="accordion">Definisi</button>
         <div class="paneltrms">
         <p> <br> 1. <strong>PT. Minify</strong> adalah suatu perseroan terbatas yang menjalankan kegiatan usaha jasa web portal www.Minify.com, yakni penjualan Barang dan/atau Perangkat elektronik. Selanjutnya disebut <strong>Minify</strong>. <br> 
          2. Situs <strong>Minify</strong> adalah www.Minify.com. <br> 
          3. Syarat & ketentuan adalah perjanjian antara Pengguna dan <strong>Minify</strong> yang berisikan seperangkat peraturan yang mengatur hak, kewajiban, tanggung jawab pengguna dan <strong>Minify</strong>, serta tata cara penggunaan sistem layanan <strong>Minify</strong>. <br> 
          4. Pengguna adalah pihak yang menggunakan layanan <strong>Minify</strong>, termasuk namun tidak terbatas pada pembeli, penjual maupun pihak lain yang sekedar berkunjung ke Situs <strong>Minify</strong>. <br> 
          5. Pembeli adalah Pengguna terdaftar yang melakukan permintaan atas Barang yang dijual oleh <strong>Minify</strong> di Situs <strong>Minify</strong>. <br> 
          6. Barang adalah benda yang berwujud / memiliki fisik Barang yang dapat diantar / memenuhi kriteria pengiriman oleh perusahaan jasa pengiriman Barang. <br> 
          7. Rekening Resmi <strong>Minify</strong> adalah rekening bersama yang disepakati oleh <strong>Minify</strong> dan para pengguna untuk proses transaksi jual beli di Situs <strong>Minify</strong>. <br>  
          8. Harga dari setiap Produk <strong>Minify</strong> (kecuali jika terjadi kesalahan) sesuai dengan yang ditampilkan di toko pada Website (“www.Minify.com”). Apabila Penjual <strong>Minify</strong> menemukan suatu kesalahan pada harga Produk <strong>Minify</strong> yang telah Anda pesan, Penjual <strong>Minify</strong> akan memberitahukan Anda secepatnya dan memberikan pilihan apakah Anda akan tetap melanjutkan pesanan Anda dengan harga yang benar atau membatalkan pesanan Anda. Apabila Penjual <strong>Minify</strong> tidak dapat menghubungi Anda, pesanan Anda akan dianggap dibatalkan, dan (apabila pembayaran telah diterima oleh Penjual <strong>Minify</strong>), uang Anda akan dikembalikan.  <br>   </p>
         </div> 

         
         <button class="accordion">Syarat & Ketentuan Layanan</button>
         <div class="paneltrms">
         <p> <br> 1. <strong>Minify</strong> berhak untuk mengganti, mengubah, menangguhkan atau menghentikan semua atau bagian apapun dari Situs ini atau Layanan setiap saat atau setelah memberikan pemberitahuan sebagaimana dipersyaratkan oleh undang-undang dan peraturan setempat. <strong>Minify</strong> dapat meluncurkan Layanan tertentu atau fitur tertentu dalam versi beta, yang mungkin tidak berfungsi dengan baik atau sama seperti versi akhir, dan kami tidak bertanggung jawab dalam hal demikian. <strong>Minify</strong> juga dapat membatasi fitur tertentu atau membatasi akses anda ke bagian atau seluruh Situs atau Layanan atas kebijakannya sendiri dan tanpa pemberitahuan atau kewajiban. <br> 
          <!-- Minify berhak untuk menolak memberikan akses ke Situs atau Layanan kepada anda atau mengizinkan anda untuk membuka Akun dengan alasan apapun. <br>  -->
          2. <strong>Minify</strong> tanpa pemberitahuan terlebih dahulu kepada Pengguna, memiliki kewenangan untuk melakukan tindakan yang perlu atas setiap dugaan pelanggaran atau pelanggaran Syarat & ketentuan dan/atau hukum yang berlaku, yakni tindakan berupa suspensi akun, dan/atau penghapusan akun pengguna. <br> 
          3. <strong>Minify</strong> memiliki kewenangan untuk menutup akun Pengguna baik sementara maupun permanen apabila didapati adanya tindakan kecurangan dalam bertransaksi, pelanggaran terhadap Syarat dan Ketentuan <strong>Minify</strong>. <br> 
          4. Pengguna memahami dan menyetujui untuk tidak menggunakan, memodifikasi, membongkar, melakukan kegiatan penggandaan, menjual kembali dan/atau kegiatan mengeksploitasi lainnya pada sistem perangkat lunak atau perangkat keras, jaringan dan/atau data Situs/Aplikasi dengan teknologi otomatis atau manual tanpa adanya izin dari <strong>Minify</strong>. <br> 
          5. Pengguna menyetujui untuk tidak menggunakan dan/atau mengakses sistem <strong>Minify</strong> secara langsung atau tidak langsung baik keseluruhan atau sebagian dengan virus, perangkat lunak, atau teknologi lainnya yang dapat mengakibatkan melemahkan, merusak, mengganggu atau menghambat, membatasi dan/atau mengambil alih fungsionalitas serta integritas dari sistem perangkat lunak atau perangkat keras, jaringan, dan/atau data pada Situs/Aplikasi <strong>Minify</strong>. <br> 
          6. Pengguna dilarang untuk menciptakan dan/atau menggunakan perangkat keras/lunak/fitur dan/atau alat lainnya, termasuk namun tidak terbatas pada emulator, robot, macro, crawler dan/atau perangkat otomatis yang bertujuan untuk mengakses atau menggunakan layanan pada sistem <strong>Minify</strong>, seperti namun tidak terbatas pada : (i) Menghack Minify; (ii) membuat banyak akun; (iii) memanipulasi perangkat yang bertujuan untuk merugikan Minify; (iv) kegiatan perambanan (crawling/scraping) atau penyalinan konten; (v) kegiatan otomatisasi dalam transaksi, jual beli, promosi,dan lain sebagainya; (vi) penambahan produk ke etalase; (vii) mengumpulkan (harvest) atau mencuri data pengguna; (viii) melakukan spamming, mengirimkan komunikasi elektronik dalam jumlah besar, mengirimkan surat berantai; dan/atau (ix) aktivitas lain yang secara wajar dapat dinilai sebagai tindakan manipulasi layanan dan sistem. <br>  </p>
         </div> 

         <button class="accordion">Kebijakan Privasi</button>
         <div class="paneltrms">
         <p> <br> <strong>Minify</strong> sangat menghormati Privasi Anda dengan Menjunjung Tinggi Keamanan data-data Anda di website www.Minify.com. <br> <strong>Minify</strong> menerapkan teknologi enkripsi terbaru dan selalu diupdate secara berkala untuk memastikan data anda pada kami tetap aman sehingga anda dapat tenang dan bertransaksi di <strong>Minify</strong> dengan lancar dan nyaman. <br>  </p> 
         <p> 1. “Data Pribadi” berarti informasi yang dapat digunakan untuk mengidentifikasi seseorang atau perangkat yang darinya orang atau perangkat tersebut dapat diidentifikasi. Data Pribadi mencakup, namun tidak terbatas pada nama, kebangsaan, nomor telepon, rincian bank dan kartu kredit, ketertarikan pribadi, alamat surel, foto diri, nomor identitas yang dikeluarkan oleh pemerintah, data biometrik, ras, tanggal lahir, status perkawinan, agama, informasi kesehatan, informasi kendaraan dan asuransi dari seseorang dan/atau perangkat;  <br>   
          2. Pengguna bertanggung jawab secara pribadi untuk menjaga kerahasiaan akun dan password untuk semua aktivitas yang terjadi dalam akun Pengguna. <br> 
          3. <strong>Minify</strong> tidak akan meminta username, password maupun kode SMS verifikasi atau kode OTP milik akun Pengguna untuk alasan apapun, oleh karena itu <strong>Minify</strong> menghimbau Pengguna agar tidak memberikan data tersebut maupun data penting lainnya kepada pihak yang mengatasnamakan <strong>Minify</strong> atau pihak lain yang tidak dapat dijamin keamanannya. <br>  
          4. Pengguna setuju untuk memastikan bahwa Pengguna keluar dari akun di akhir setiap sesi dan memberitahu <strong>Minify</strong> jika ada penggunaan tanpa izin atas sandi atau akun Pengguna. <br>  
          5. Pengguna dengan ini menyatakan bahwa <strong>Minify</strong> tidak bertanggung jawab atas kerugian ataupun kendala yang timbul atas penyalahgunaan akun Pengguna yang diakibatkan oleh kelalaian Pengguna, termasuk namun tidak terbatas pada menyetujui dan/atau memberikan akses masuk akun yang dikirimkan oleh <strong>Minify</strong> melalui pesan notifikasi kepada pihak lain melalui perangkat Pengguna, meminjamkan akun kepada pihak lain, mengakses link atau tautan yang diberikan oleh pihak lain, memberikan atau memperlihatkan kode verifikasi (OTP), password atau email kepada pihak lain, maupun kelalaian Pengguna lainnya yang mengakibatkan kerugian ataupun kendala pada akun Pengguna. <br>  
          6. Kebijakan ini berlaku sehubungan dengan pemberitahuan lain, klausul kontrak, klausul persetujuan yang berlaku terkait dengan pengumpulan, penyimpanan, penggunaan, pengungkapan dan/atau pemrosesan data pribadi Anda oleh kami dan tidak dimaksudkan untuk mengesampingkan pemberitahuan atau klausul tersebut kecuali kami nyatakan sebaliknya. <br>    </p>
         </div>
         

         <button class="accordion">HAK CIPTA Minify</button>
         <div class="paneltrms">
         <p> <br> Hak Cipta <strong>Minify</strong> terdaftar di Kemenkumham dengan no.HCPMinify2021. <br> 
          Segala bentuk pelanggaran, pencurian, dan/pemalsuan akan ditindak sebagaimana mestinya sesuai dengan peraturan perundang-undangan yang ada dan berlaku. </p>
         </div> 


         <!-- <button class="accordion">lorem</button>
         <div class="paneltrms">
         <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo, maiores doloribus vero tempora, est adipisci corrupti aut asperiores debitis eius inventore doloremque, facere dolor laboriosam voluptate corporis consectetur! Hic, quo!</p>
         </div> -->
     
     </div>
     
 </div>

      <!-- script untuk mengerakkan dropdown  --> 
     <script>
     var acc = document.getElementsByClassName("accordion");
     var i;
     
     for (i = 0; i < acc.length; i++) {
       acc[i].addEventListener("click", function() {
         this.classList.toggle("active");
         var panel = this.nextElementSibling;
         if (panel.style.maxHeight) {
           panel.style.maxHeight = null;
         } else {
           panel.style.maxHeight = panel.scrollHeight + "px";
         } 
       });
     }
     </script>  


